In [1]:
import nltk

In [3]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [5]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\suraj\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\suraj\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\suraj\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\suraj\AppData\Roaming\nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\suraj\AppData\Roaming\nltk_data...

True

In [7]:
text = "Sinhagad Fort is a historic hill fortress located near Pune in Maharashtra, India. It played an important role in the Maratha Empire and is known for the bravery of Tanaji Malusare during the Battle of Sinhagad."

In [9]:
tokens = text.split()
print("Tokens:", tokens)

Tokens: ['Sinhagad', 'Fort', 'is', 'a', 'historic', 'hill', 'fortress', 'located', 'near', 'Pune', 'in', 'Maharashtra,', 'India.', 'It', 'played', 'an', 'important', 'role', 'in', 'the', 'Maratha', 'Empire', 'and', 'is', 'known', 'for', 'the', 'bravery', 'of', 'Tanaji', 'Malusare', 'during', 'the', 'Battle', 'of', 'Sinhagad.']

In [13]:
stop_words = {'is', 'a', 'the', 'to', 'for', 'with', 'and', 'in', 'on', 'of', 'it', 'an'}

In [15]:
filtered_tokens = [word for word in tokens if word.lower() not in stop_words]

In [17]:
print("Filtered Tokens:", filtered_tokens)

Filtered Tokens: ['Sinhagad', 'Fort', 'historic', 'hill', 'fortress', 'located', 'near', 'Pune', 'Maharashtra,', 'India.', 'played', 'important', 'role', 'Maratha', 'Empire', 'known', 'bravery', 'Tanaji', 'Malusare', 'during', 'Battle', 'Sinhagad.']

In [19]:
pos_tags = [(word, 'NN') for word in filtered_tokens]
print("POS Tags (simulated):", pos_tags)

POS Tags (simulated): [('Sinhagad', 'NN'), ('Fort', 'NN'), ('historic', 'NN'), ('hill', 'NN'), ('fortress', 'NN'), ('located', 'NN'), ('near', 'NN'), ('Pune', 'NN'), ('Maharashtra,', 'NN'), ('India.', 'NN'), ('played', 'NN'), ('important', 'NN'), ('role', 'NN'), ('Maratha', 'NN'), ('Empire', 'NN'), ('known', 'NN'), ('bravery', 'NN'), ('Tanaji', 'NN'), ('Malusare', 'NN'), ('during', 'NN'), ('Battle', 'NN'), ('Sinhagad.', 'NN')]

In [23]:
stemmer = PorterStemmer()
stemmed_words = [stemmer.stem(word) for word in filtered_tokens]
print("Stemmed Words:", stemmed_words)

Stemmed Words: ['sinhagad', 'fort', 'histor', 'hill', 'fortress', 'locat', 'near', 'pune', 'maharashtra,', 'india.', 'play', 'import', 'role', 'maratha', 'empir', 'known', 'braveri', 'tanaji', 'malusar', 'dure', 'battl', 'sinhagad.']

In [41]:
lemmatizer = WordNetLemmatizer()
lemmatized_words = [lemmatizer.lemmatize(word) for word in filtered_tokens]
print("Lemmatized Words:", lemmatized_words)

Lemmatized Words: ['Sinhagad', 'Fort', 'historic', 'hill', 'fortress', 'located', 'near', 'Pune', 'Maharashtra,', 'India.', 'played', 'important', 'role', 'Maratha', 'Empire', 'known', 'bravery', 'Tanaji', 'Malusare', 'during', 'Battle', 'Sinhagad.']

In [49]:
words = word_tokenize(text)

In [ ]:
import string

In [53]:
t = [word for word in words if word not in string.punctuation]

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [57]:
tfidf = TfidfVectorizer()

In [59]:
v = tfidf.fit_transform(t)

In [61]:
v.shape

(36, 29)

In [63]:
import pandas as pd

In [65]:
pd.DataFrame(v)

                 0
0     (0, 26)\t1.0
1      (0, 7)\t1.0
2     (0, 14)\t1.0
3
4     (0, 10)\t1.0
5      (0, 9)\t1.0
6      (0, 8)\t1.0
7     (0, 17)\t1.0
8     (0, 21)\t1.0
9     (0, 24)\t1.0
10    (0, 12)\t1.0
11    (0, 18)\t1.0
12    (0, 13)\t1.0
13    (0, 15)\t1.0
14    (0, 23)\t1.0
15     (0, 0)\t1.0
16    (0, 11)\t1.0
17    (0, 25)\t1.0
18    (0, 12)\t1.0
19    (0, 28)\t1.0
20    (0, 20)\t1.0
21     (0, 5)\t1.0
22     (0, 1)\t1.0
23    (0, 14)\t1.0
24    (0, 16)\t1.0
25     (0, 6)\t1.0
26    (0, 28)\t1.0
27     (0, 3)\t1.0
28    (0, 22)\t1.0
29    (0, 27)\t1.0
30    (0, 19)\t1.0
31     (0, 4)\t1.0
32    (0, 28)\t1.0
33     (0, 2)\t1.0
34    (0, 22)\t1.0
35    (0, 26)\t1.0